<!doctype html>
<html lang="en">

<head>
  <title>Signup</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/Design.css">
  <script src="/javascript/signup.js"></script>
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body class="home">
  <div class="block-2">
    <a href="/"><img src="/images/programming.jpg" id="logo" height="75px"></a>
    
    <h2 id="topcard">
      Sign up
    </h2>
    <form>
      <div id="T1">
        <label id="L1" for="username" >Name</label>
      </div>
      <input type="text" id="name" placeholder="What's your Name?" name="username" autocomplete="off" required>
      <div id="T1">
        <label id="L1" for="password">Password</label>
      </div>
      <input type="password" id="password" placeholder="What's your Password?" name="pass" autocomplete="off" required>
    
      <div id="T1">
        <label id="L1" for="confirm-pass">Confirm Password</label>
      </div>
      <input type="password" id="confpassword" placeholder="Write your password again" name="confirm-pass" autocomplete="off" required>

      <div id="T1">
        <label id="L1" for="email">Email</label>
      </div>
      <input type="email" id="email" placeholder="What's your Email?" name="email" autocomplete="off" required>

      <input type="submit" id="submit" value="Registration">
    </form>

    <!-- Error message
      <div class="error-message">
    
      </div>
    -->

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>